@font-face {
  font-family: 'Nokia Cellphone FC';
  src: url('/fonts/NokiaCellphoneFC-Small.woff2') format('woff2'),
    url('/fonts/NokiaCellphoneFC-Small.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
