.header-top-wrapper {
  color: #fff;
  a {
    color: $white;
    text-decoration: none;
  }

  .new-game {
    color: $primary;
    &:hover {
      color: white;
    }
  }

  .highscore-box {
    @include media-breakpoint-down(xs) {
      margin-left: auto;
    }
    .highscore-wrapper {
      .highscore-ico {
        font-size: 1.5rem;
        font-style: normal;
      }
    }
  }

  .fb-box {
    @include media-breakpoint-down(xs) {
      display: none;
    }
    transition: transform 0.5s;
    .fb-share-wrapper {
      .fb-ico {
        background-color: var(--primary);
        color: #fff;
        text-shadow: 4px 4px 2px #3a3a3a, 4px 6px 3px #3cff00;
        padding: 4px 18px 4px 18px;
        font-size: 1.5rem;
        border: 1px inset rgba(22, 18, 18, 0.6);
        box-shadow: 8px 0px 0px 0px #6ebb4b, 1px 8px 0px 0px #167e30, -8px 0px 0px 0px #026e11,
          0px 0px 0px 8px #6ff163, inset 7px -3px 23px 19px rgba(0, 0, 0, 0.46),
          inset -3px -2px 18px 10px rgba(0, 0, 0, 0.46);

        transition: box-shadow 0.9s;

        &:hover {
          background-color: gray;
          box-shadow: 8px 0px 0px 0px #ffffff, 1px 8px 0px 0px #026e11, -8px 0px 0px 0px #ffffff,
            0px 0px 0px 8px #6ff163, inset 7px -3px 23px 19px rgba(0, 0, 0, 0.46),
            inset -3px -2px 18px 10px rgba(0, 0, 0, 0.46);

          transition: box-shadow 0.7s;
        }
      }

      span {
        align-self: flex-end;

        > span {
          color: $primary;
        }
      }
    }
  }
}
