.header-top-wrapper {
  a {
    color: $white;
    text-decoration: none;
  }

  .highscore-box {
    position: relative;

    .highscore-wrapper {
      margin-bottom: 0;

      .highscore-ico {
        font-size: 25px;
        font-style: normal;
      }
    }
  }

  .fb-box {
    .fb-share-wrapper {
      margin-bottom: 0; //overwrite bootstrap reboot

      .fb-ico {
        background-color: $primary;
        color: #fff;
        text-shadow: 4px 4px 2px rgb(58, 58, 58), 4px 6px 3px rgb(60, 255, 0);
        padding: 4px 18px 4px 18px;
        font-size: 2rem;
      }

      span {
        align-self: flex-end;

        > span {
          color: $primary;
        }
      }
    }
  }
}
