@import './fonts';

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './variables';

body {
  background-color: #222020;
  color: rgb(231, 231, 231);
  font-family: 'Nokia Cellphone FC';
}

#q-box {
  color: rgb(34, 32, 32);
  text-shadow: 4px 4px 2px rgb(112, 111, 111);
}

.main-title {
  font-size: 4rem;
  text-shadow: 4px 4px 2px rgb(58, 58, 58), 4px 6px 3px rgb(60, 255, 0);

  @include media-breakpoint-down(xs) {
    font-size: 3rem;
  }
}

.q-box {
  border: 7px inset hsla(0, 10%, 8%, 0.6);
  box-shadow: 8px 0px 0px 0px #6ebb4b, 0px 8px 0px 0px #167e30,
    -8px 0px 0px 0px #026e11, 0px 0px 0px 8px #6ff163,
    inset 3px 0px 23px 19px rgba(0, 0, 0, 0.46),
    inset 5px -6px 25px 10px rgba(0, 0, 0, 0.46);
}

.right-side > div p:nth-child(1) {
  letter-spacing: 2px;
  white-space: nowrap;
}

#btn-check:hover,
#btn-check:focus {
  background-color: rgba(255, 0, 0, 0.582);
}

input[placeholder] {
  text-align: center;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.534);
}

body::-webkit-scrollbar-thumb {
  background: $primary;
}
.main {
  width: 100%;
  max-width: 1500px;
}

.message {
  position: relative;
  font-size: 18px;
  letter-spacing: 2px;
  text-shadow: 3px 3px 2px#000000;
  color: inherit;
}

legend {
  width: initial;
  font-size: 1.1rem;
  background-color: #737873a8;
  padding: 6px 11px;
  color: #5ac64c;
  box-shadow: inset -2px 5px 15px 12px rgba(0, 0, 0, 0.46),
    6px 0px 7px 4px rgba(0, 0, 0, 0.46);
}

.right-side {
  min-width: 244px;
}

fieldset {
  p {
    color: #5ac64c;
  }
  border: 5px inset #4d4c4c;
  overflow: hidden;
  &::before {
    content: '';
    background: inherit;
    position: absolute;
    left: 1px;
    right: 2px;
    top: 0px;
    bottom: 6px;
    background-color: #4343434a;
    box-shadow: inset -15px -4px 20px 2px #37f237ab;
    z-index: 1;
  }
}

.user-input::before {
  content: '>>';
  font-size: 18px;
  color: #6ff163;
}
